[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
