[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/tpope-git"]
	path = bundle/tpope-git
	url = https://github.com/tpope/vim-git
[submodule "bundle/tpope-sensible"]
	path = bundle/tpope-sensible
	url = https://github.com/tpope/vim-sensible
