[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/tpope-git"]
	path = bundle/tpope-git
	url = https://github.com/tpope/vim-git
[submodule "bundle/tpope-sensible"]
	path = bundle/tpope-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/syntax-cpp11"]
	path = bundle/syntax-cpp11
	url = https://github.com/vim-scripts/Cpp11-Syntax-Support
[submodule "bundle/syntax-cpp-stl"]
	path = bundle/syntax-cpp-stl
	url = https://github.com/Mizuchi/STL-Syntax
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/nathanrosspowell/supertab
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/wting/rust.vim.git
